*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --bg-automatic: #202124;
  --bg-red: #5c2b29;
  --bg-orange: #614a19;
  --bg-yellow: #635d19;
  --bg-green: #345920;
  --bg-blue: #2d555e;
  --bg-purple: #5b2245;
  --bg-black: #000000;
  --bg-gray: #3c3f43;
  --bd-greenish-blue: #1e3a5f;
  --bg-grey: #442f19;
}

body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  background: #202124;
  color: #e8eaed;
  font-weight: 700;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input,
textarea {
  border: none;
  outline: none;
  background: transparent;
  color: #e8eaed;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0.6rem 0.5rem;
  width: 100%;
}

textarea {
  resize: none;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 4px 0 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar {
  height: 12px;
  overflow: visible;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 2px 1px 1px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%),
    inset 0 -1px 0 rgb(0 0 0 / 7%);
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.heeder-todo-list {
  text-align: center;
}

.heeder-todo-list h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.main-todo-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.main-todo-list .add-new-todo {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.main-todo-list .add-new-todo .todo-list-adds {
  width: 550px;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.todo-list-group {
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 8px;
  padding: 12px 16px;
  height: auto;
}

.todo-inputs {
  padding: 0 0 15px 0;
}

.todo-list_menu-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 0;
}

.hidden {
  display: none;
}

.todo-adds .todo-inputs,
.todo-adds .todo-list_menu-note {
  display: none;
}

.todo-list_menu-note .btn-option {
  border-radius: 4px;
  padding: 10px 13px;
  color: #e8eaed;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.todo-list_menu-note .btn-option:hover {
  background-color: rgba(154, 160, 166, 0.039);
}

.install-note_active {
  background-color: #0e2568;
}

.background-options {
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 8px;
  padding: 6px 10px;
  position: absolute;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);
}

.h-options {
  display: none;
}

.bgOptions_note_active {
  background-color: #0e2568;
}

.background-options .background-options-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.bg-option {
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-default {
  background-color: var(--bg-automatic);
  border: 1px solid #5f6368;
}

.bg-automatic {
  background-color: var(--bg-automatic);
  border: 1px solid #5f6368;
}

.bg-red {
  background-color: var(--bg-red);
  border: 1px solid var(--bg-red);
}

.bg-orange {
  background-color: var(--bg-orange);
  border: 1px solid var(--bg-orange);
}

.bg-yellow {
  background-color: var(--bg-yellow);
  border: 1px solid var(--bg-yellow);
}

.bg-green {
  background-color: var(--bg-green);
  border: 1px solid var(--bg-green);
}

.bg-greenish-blue {
  background-color: var(--bd-greenish-blue);
  border: 1px solid var(--bd-greenish-blue);
}

.bg-blue {
  background-color: var(--bg-blue);
  border: 1px solid var(--bg-blue);
}

.bg-purple {
  background-color: var(--bg-purple);
  border: 1px solid var(--bg-purple);
}

.bg-grey {
  background-color: var(--bg-grey);
  border: 1px solid var(--bg-grey);
}
